body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  transition: 0.3s all;
  user-select: none;
}

:root {
  --text: #04395e;
}

.App {
  margin: 30px 0 0 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 3px 15px #0000001a;
  overflow: hidden;
}

.top {
  background: var(--text);
  color: #ffffff;
  padding: 10px;
  font-size: 28px;
  margin: 0;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ToDo-input {
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--text);
  display: flex;
  padding: 5px;
}

.ToDo-input * {
  border-radius: 5px;
}

.ToDo-input input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
}

.ToDo-input button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}

.ToDo {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.ToDo:hover {
  background-color: #04395e3d;
}

.ToDo p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--text);
}

.ToDo-done {
  background-color: #00000027;
}
.ToDo-done p {
  color: #00000050;
}

.actionBtn {
  float: right;
  font-size: 12;
  font-weight: 12;
}
.actionBtn:hover {
  background-color: #04395e3d;
  border-radius: 5px;
}
.exit{
  position: relative;
  left: 40%;
}
.task{
  line-height: 1.5;
}